html, body {
  padding-top:4cm;
  text-align:center;
  width: 80%;
  margin: 0 auto;
}

    
a {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

  }
    
body {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      
  }

.logo {
      widht: 70px;
}

    
    
    
  
